{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">
            Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались
          </div>
          <div class="card-body">
            {% include 'includes/print_form_erors.html'%}
            <form method="post" action="{% url 'users:password_reset' %}">
              {% csrf_token %}
              {% include 'includes/print_form.html'%}
              <button type="submit" class="btn btn-primary"> 

                Сбросить пароль 

              </button> 
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
